.Modal {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.975;
    z-index: 1;
}

.ModalNone {
    display: none;
}

.categoryLabel{
    margin-left: 5px;
    width: 20%;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}

.categorySelect{
    width: 70%;
}